@model MakeDecision.Web.Models.KeyData

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    分类：@Html.DisplayTextFor(model => model.Category.CategoryName) 
    @Html.HiddenFor(model => model.CategoryId)
    <br/>
    @Html.ValidationMessage("ShouldBeOnlyOne")
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Year)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Year)
    @Html.ValidationMessageFor(model => model.Year)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.CycleValue)
</div>
<div class="editor-field">
    @{
        var cycleId = (int)ViewBag.CycleId;
        switch (cycleId)
        {
            case 1:
            case 3:
            case 4:    
                @Html.EditorFor(model => model.CycleValue)
                break;
            case 2:
            case 5:
            case 6:
                @Html.DropDownList("CycleValue", string.Empty)      
                break;
            default:
                @Html.EditorFor(model => model.CycleValue)
           break;
        }
    }
    @Html.ValidationMessageFor(model => model.CycleValue)
    @Html.DisplayTextFor(model => model.Category.Cycle.CycleName).ToString()
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Value)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Value)
    @Html.ValidationMessageFor(model => model.Value)
</div>
<div class="editor-label">
    文件上传
</div>
<div class="editor-field">
    <input type="file" name="file" id="file" />
</div>