@model MakeDecision.Web.Models.KeyData

@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<fieldset>
    <legend>数据</legend>

    <div class="display-label">所属分类</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Category).ToString()</div>

    <div class="display-label">数据单位</div>
    <div class="display-field">@Model.ValueUnit</div>

    <div class="display-label">值</div>
    <div class="display-field">@Model.Value</div>

    <div class="display-label">年</div>
    <div class="display-field">@Model.Year</div>

    <div class="display-label">更新周期</div>
    <div class="display-field">@Model.Cycle</div>

    <div class="display-label">创建日期</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="确定删除" /> |
        @Html.ActionLink("返回列表", "Index")
    </p>
}


