@model MakeDecision.Web.Models.KeyData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>KeyData</legend>

    <div class="display-label">Category</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Category).ToString()</div>

    <div class="display-label">ValueUnit</div>
    <div class="display-field">@Model.ValueUnit</div>

    <div class="display-label">Value</div>
    <div class="display-field">@Model.Value</div>

    <div class="display-label">Year</div>
    <div class="display-field">@Model.Year</div>

    <div class="display-label">Cycle</div>
    <div class="display-field">@Model.Cycle</div>

    <div class="display-label">CreateDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


