@model MakeDecision.Web.Models.KeyData

@{
    ViewBag.Title = "数据明细";
}

<h2>数据明细</h2>

<fieldset>
    <legend>数据</legend>

    <div class="display-label">分类</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Category).ToString()</div>

    <div class="display-label">值</div>
    <div class="display-field">@Model.Value</div>

    <div class="display-label">年</div>
    <div class="display-field">@Model.Year</div>

    <div class="display-label">创建日期</div>
    <div class="display-field">@String.Format("{0:g}", Model.CreateDate)</div>
</fieldset>
<p>
    @Html.ActionLink("修改", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("返回列表", "Index", new {categoryId = Model.CategoryId})
</p>


