@model IEnumerable<MakeDecision.Web.Models.KeyData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Category
        </th>
        <th>
            ValueUnit
        </th>
        <th>
            Value
        </th>
        <th>
            Year
        </th>
        <th>
            Cycle
        </th>
        <th>
            CreateDate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Category).ToString()
        </td>
        <td>
			@item.ValueUnit
        </td>
        <td>
			@item.Value
        </td>
        <td>
			@item.Year
        </td>
        <td>
			@item.Cycle
        </td>
        <td>
			@String.Format("{0:g}", item.CreateDate)
        </td>
    </tr>
}

</table>


