@model IEnumerable<MakeDecision.Web.Models.KeyData>

@{
    ViewBag.Title = "数据管理";
}

<h2>数据管理</h2>

<p>
    @Html.ActionLink("新增", "Create", "KeyData", new { categoryId = 1 }, null)
</p>
<table>
    <tr>
        <th>
            分类
        </th>
        <th>
            参考值
        </th>
        <th>
            年份
        </th>
        <th>
            更新周期
        </th>
        <th>
            创建时间
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			<div style="width: 200px;">@Html.DisplayTextFor(_ => item.Category.CategoryName).ToString()</div>
        </td>
        <td>
			<div style="width: 150px;">@item.Value</div>
        </td>
        <td>
			@item.Year
        </td>
        <td>
			@item.CycleValue @Html.DisplayTextFor(_ => item.Category.Cycle.CycleName).ToString()
        </td>
        <td>
			<div style="width: 150px;">@String.Format("{0:g}", item.CreateDate)</div>
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("明细", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


